.training-container {
    padding: 2rem;
}

.program-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.main-icon {
    margin-right: 1rem;
    color: #00bf63;
}