.sidebar-logo {
  height: 60px;
  width: auto;
  margin-right: 3px;
}

.sidebar {
  width: 200px;
  position: fixed; /* fixed to left */
  height: 100vh;
  top: 0;
  left: 0;
  background: #043915;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  box-sizing: border-box;
}

.sidebar-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  color: #00bf63; 
}

.sidebar-username {
  margin-top: 12px;
  font-weight: 600;
  color: #222;
}

.sidebar-menu {
  list-style: none;
  width: 100%;
  padding: 0;
  flex-grow: 1; /* Take remaining vertical space */
  overflow-y: auto; /* Scroll if content overflows */
}

.sidebar-menu > li {
  width: 100%;
}

.sidebar-menu a,
.sidebar-intervention {
  display: flex;
  align-items: center;
  padding: 14px 32px;
  color: #FFF;
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background 0.2s;
}

.sidebar-menu a:hover,
.sidebar-intervention:hover {
  background: #FFF;
  COLOR:#043915;
}

.sidebar-icon {
  margin-right: 16px;
}

.sidebar-intervention {
  justify-content: space-between;
  font-weight: 500;
}

.sidebar-submenu {
  list-style: none;
  padding: 0 0 0 32px;
  background: #043915;
}

.sidebar-submenu li a {
  padding: 10px 16px;
  font-size: 0.8rem;
  color: #fff;
  display: flex;
  align-items: center;
}

.sidebar-submenu li a:hover {
  background: #e5e7eb;
}

/* Sign Out Button */
.signout-button-sidebar { 
  background-color: #043915; /* Bootstrap danger red */
  color: white;
  border: none;
  padding: 12px 12px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.signout-button-sidebar:hover .sidebar-icon {
  color: #ff2e43;
}

.signout-button-sidebar .sidebar-icon {
  justify-content: center;
  font-size: 1rem;
  color:#fff;
}
  